{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "jsx-a11y/img-has-alt": [0],
    "arrow-body-style": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
